/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.5;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

#map {
  margin-left: 30%;
  padding-right: 0;
  height: 100%; 
  width: 70%; 
  position: fixed;
}

 #map-canvas {
  height: 100%;
  width: 100%;
  z-index: 1;
}

#blacky {
  display: inline-block;
  background-color: #fff;
  margin-top: 10px;
  margin-right: 0;
  padding-bottom: 30px;
  width: 30%;
  padding: 0;
  z-index: 99;
  font-family: arial;
  color: #656565;
}

#icony {
  margin-top: 45px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  margin-top: 10px;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-size: 1.8em;
  text-align: center;
  color: #000;
}

h2 {
  margin-top: 15px;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-size: 1.2em;
  text-align: center;
  color: #000;
}

p {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 25px 0 25px;
  font-size: 1em;
  font-family: 'Source Sans Pro';
  text-align: justify;
}

ul {
  text-align: center;
}

li {
  font-family: 'Istok Web', 'Raleway', 'Roboto', arial, 'Raleway';
  font-size: .85em;
  line-height: 2.2em;
  /**text-transform: uppercase;**/
}

#filter {
  text-align: center;
}

#tag {
  margin-top: 20px;
  height: 27px;
  width: 250px;
  padding: 2px;
  font-family: 'Source Sans Pro', arial;
  background-color: rgba(255, 255, 255, 0.95);
  font-style: italic;
  font-size: 1.4em;
  text-indent: 7px;
  border: 1px solid rgb(32, 100, 136);
  border-radius: 3px;
}

#tag:focus {
  outline: none;
  border: 1px solid rgb(32, 100, 136);
}

#submit {
  text-align: center;
  height: 15px;
  background-color: rgba(32, 100, 136, 0.80);
  border: 0;
  border-radius: 3px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px 15px 25px 15px;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', arial;
  color: #fff;
}

#submit:hover {
  background-color: rgb(32, 100, 136);
  color: #fff;
}

#submit:focus {
  outline: none;
}

strong {
  text-decoration: bold;
  color: #7aa67b
}

strong:hover {
  color: rgb(32, 100, 136);
}